{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<h2><a class="article-title" href="#"><!-- Experience 1 --></a></h2>
			<p class="article-content">
				<!-- Experience 1 -->
				<!-- Content -->
			</p>
		</div>
	</article>
	<article class="media content-section">
		<div class="media-body">
			<h2><a class="article-title" href="#"><!-- Experience 2 --></a></h2>
			<p class="article-content">
				<!-- Experience 2 -->
				<!-- Content -->
			</p>
		</div>
	</article>
	<article class="media content-section">
		<div class="media-body">
			<h2><a class="article-title" href="#"><!-- Experience 3 --></a></h2>
			<p class="article-content">
				<!-- Experience 3 -->
				<!-- Content -->
			</p>
		</div>
	</article>
	<article class="media content-section">
		<div class="media-body">
			<h2><a class="article-title" href="#"><!-- Experience 4 --></a></h2>
			<p class="article-content">
				<!-- Experience 4 -->
				<!-- Content -->
			</p>
		</div>
	</article>
{% endblock content %}